---
layout: single
---

<div class="post-tags">
  {% if page.tags.size > 0 %}
    <div class="tag-list">
      {% for tag in page.tags %}
        <a href="/tags/{{ tag | slugify }}/" class="tag-link">
          <span class="tag-name">{{ tag }}</span>
        </a>
      {% endfor %}
    </div>
  {% endif %}
</div>

{{ content }}

{% if page.share %}{% include social-share.html %}{% endif %}
{% if page.comments %}{% include comments.html %}{% endif %}

<style>
.post-tags {
  margin-bottom: 2rem;
}
</style> 